In [6]:
import numpy as np

In [9]:
h = 2
d = 3
e = 4
list = [2,3,4]
print(list)

[2, 3, 4]

In [30]:
# list of prices
 #cj chiken
 
a = 9.99
b = 7.99
c = 7.49
d = 6.29
e = 4.99
 
list1 = [9.99,7.99,7.49,7.00,6.29,4.99] 
result1 = (a + b + c + d +e)
print(result1)

36.75

In [32]:
# list of prices
#kfc chicken
t = 7.5
y = 5.0 
u = 4.4 
i = 3.75
o = 2.25 

list2 = [7.5,5.0,4.4 ,3.75,2.25]
result2 = (t + y +u + i +o)
print(result2)

22.9

In [33]:
#addition 
result = (result1 + result2)
print(result)

59.65

In [34]:
#subtraction 
result = (result1 - result2)

print(result)

13.850000000000001

In [36]:
# cj chicken
list1 = [9.99,7.99,7.49,7.00,6.29,4.99]
print(type)
print(len)

<class 'type'>
<built-in function len>

In [44]:
#kfc chicken
list2 = [7.5,5.0,4.4 ,3.75,2.25]
print(type)
print(len)

<class 'type'>
<built-in function len>

In [39]:
# creating lists as arrays
import numpy as np

In [41]:
# cj array
list1 = (9.99,7.99,7.49,7.00,6.29,4.99)
print(type(list1))

<class 'tuple'>

In [42]:
# kfc array
list2 = (7.5,5.0,4.4 ,3.75,2.25)
print(type(list2))

<class 'tuple'>

In [45]:
# mean 
result = (result1 + result2)/2
print(result)

29.825

In [46]:
# mean difference 
np.mean(list1) - np.mean(list2)

2.711666666666667

In [47]:
#std
np.std(list1)

1.5380769017040583

In [48]:
#std
np.std(list2)

1.7235428628264513